<%- include('partials/header') %>




<% if (user) {%>
<% folders.map((folder) => {%>
<div class="folderContainer">

  <div class="folderName">
    <% if (editFolderId == folder.id) {%>
      <form action="/folder/edit/<%= folder.id %>" method="POST">
        <input type="text" value="<%= folder.name %>">
        <button>↵</button>
      </form>

    <%} else {%>
      <h3><%= folder.name %></h3>
    <%}  %>


  </div>

  <div class="folderBtnContainer">
    <form action="/folder/delete/<%= folder.id %>" method="POST">
      <button class="btn">✕</button>
    </form>


    <% if (editFolderId != folder.id) {%>
      <a class="btn" href="/editFolder/<%= folder.id %>">✎</a>
    <%} else {%>
      <a class="btn" href="/">✎</a>
    <%} %>
    

  </div>





  <div class="filesContainer">
    <% folder.files.map((file) => {%>

    <div class="fileContainer">
      <% if (findFileId == file.id) {  %>
      <form class="editForm" action="/file/edit/<%= file.id %>" method="POST">
        <input type="text" name="name" id="name" value="<%= file.name %>">
        <button>↵</button>
      </form>


      <% } else { %>
      <div>
        <% if (fileInfoId == file.id) {  %>
        <a class="fileName" href="/"><%- file.name %></a>
        <% } else { %>
        <a class="fileName" href="/fileInfo/<%= file.id %>"><%= file.name %></a>
        <% } %>

        <div class="fileInfoContainer">

          <% if (fileInfoId == file.id) {  %>
          <div> Size: <%= file.size %> B</div>
          <div> <%= file.upload_time.toLocaleString() %></div>

          <%} %>
        </div>
      </div>



      <%} %>





      <div class="fileBtnContainer">
        <form action="/file/delete/<%= file.id %>" method="POST">
          <button class="btn">✕</button>
        </form>
        <a class="btn" href="/file/download/<%= file.id %>">↓</a>

        <% if (findFileId != file.id) {  %>
        <a class="btn" href="/editFile/<%= file.id %>">✎</a>
          <% } else { %>
            <a class="btn" href="/">✎</a>
  <% } %>

      </div>

    </div>
    <%}) %>
  </div>




</div>

<%}) %>



<%} %>


<%- include('partials/footer') %>