<%- include('partials/header') %>


<h1>Home</h1>


<% if (user) {%>
<% folders.map((folder) => {%>
<div class="folderContainer">

    
      <h3><%= folder.name %></h3>
    <div class="folderBtnContainer">
        <form action="/folder/delete/<%= folder.id %>" method="POST">
          <button class="btn">✕</button>
        </form>
        <a class="btn" href="/folder/download/<%= folder.id %>">↓</a>
        <a class="btn" href="/folder/edit/<%= folder.id %>">✎</a>

      </div>

  
    


    
  <div class="filesContainer">
    <% folder.files.map((file) => {%>

    <div class="fileContainer">

      <form class="editForm" action="/file/edit/<%= file.id %>" method="POST">
        <input type="text" name="name" id="name" value=<%= file.name %> onfocus="this.select()">
        <button>submit</button>


      </form>


      <!-- <a class="fileName" href="/file/info/<%= file.id %>"><%= file.name %></a> -->



      <div class="fileBtnContainer">
        <form action="/file/delete/<%= file.id %>" method="POST">
          <button class="btn">✕</button>
        </form>
        <a class="btn" href="/file/download/<%= file.id %>">↓</a>
        <a class="btn" href="/file/edit/<%= file.id %>">✎</a>

      </div>
    </div>
    <%}) %>
  </div>




</div>

<%}) %>



<%} %>


<%- include('partials/footer') %>